<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="http://welldonelasagna/" />
    <title>welldonelasagna</title>
    <meta name="description" content="Website owned and created by Tariq Dinmohamed">
    <link href="4/css/bootstrap.min.css" rel="stylesheet">
    <link href="4/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/vue@2.5.3/dist/vue.min.js"></script>
    <style>
        #cont-table {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>

    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-104993242-3', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
        <img src="images/1470260589577.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Welldonelasagna
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars5" aria-controls="navbars5"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbars5">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="download.html">Downloads</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <div class="col text-center">
                <h1>Ping</h1>
                <small>small text</small>
                <hr>
            </div>
                    <table class="table table-stripped table-hover" id="cont-table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Port</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(site, index) in sites">
                                <td>{{ index + 1 }}</td>
                                <td>{{ site.name }}</td>
                                <td><a v-bind:href="getHref(site)" target="_blank">{{ site.url }}</a></td>
                                <td>{{ site.port }}</td>
                                <td v-if="site.status"><span class="label label-success">LIVE</span></td>
                                <td v-else><span class="label label-danger">DOWN</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <footer>
                        <h4>
                            Made by <a target="_blank" href="https://github.com/skadimoolam">Adi</a>
                            <span class="pull-right">
                                Source @ <a target="_blank"
                                    href="https://github.com/skadimoolam/ping">skadimoolam/ping</a>
                            </span>
                        </h4>

                        <h5>Go through the <a target="_blank"
                                href="https://github.com/skadimoolam/ping/blob/gh-pages/readme.md">Readme</a> file to
                            know how you can customize it for your needs.</h5>
                        <h5><b>Notice : </b> This site is bugged with Analytics to know which types of Geeks visit the
                            most ;)</h5>
                    </footer>

                </div>



                <!-- Footer -->
                <footer class="footer mt-auto py-3">
                    <div class="container">
                        <span class="text-muted">Copyright &copy; welldonelasagna.com, 2019 | Tariq Dinmohamed | <a
                                href="http://welldonelasagna.com/">welldonelasagna.com</a></span>
                    </div>
                </footer>

        </div>
        <!-- /.container -->

        <!-- jQuery -->
        <script src="4/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="4/js/bootstrap.min.js"></script>

        <!-- Script to Activate the Carousel -->
        <script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })

                < script >
                let app = new Vue({
                    el: "#app",
                    data: {
                        siteDataUrl: "./data.json",
                        sites: []
                    },

                    created: function () {
                        this.loadData();
                    },
                    methods: {
                        getHref: function (site) {
                            if (!site.port) site.port = 80;
                            return `https://${site.url}:${site.port}`;
                        },
                        loadData: function () {
                            let self = this
                            fetch(this.siteDataUrl)
                                .then(r => r.json())
                                .then((resp) => {
                                    self.sites = resp
                                    self.getStatus();
                                });
                        },
                        getStatus: function () {
                            let self = this;
                            self.sites.forEach(function (site, index) {
                                let url = `https://${site.url}`;
                                if (site.port && site.port != 80 && site.port != 443) url += `:${site.port}`;
                                fetch(url, { mode: 'no-cors' })
                                    .then((resp) => {
                                        site.status = true;
                                        if (!resp.ok || resp.status != 200) site.status = false;
                                        if (resp.type == "opaque") site.status = true;
                                        self.$set(self.sites, index, site);
                                    })
                            })
                        }
                    }
                })
        </script>

        </body>

</html>